<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scipianus.pocketlibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPictureActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity" />
        </activity>
        <activity android:name=".AdjustPictureCropActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewPictureActivity" />
        </activity>
        <activity android:name=".DetectBookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity" />
        </activity>
        <activity android:name=".DetectBookByCoverActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetectBookActivity" />
        </activity>
        <activity android:name=".DetectBookByTextActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetectBookActivity" />
        </activity>
        <activity android:name=".BookInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetectBookByCoverActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.scipianus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>